{% extends 'registration/main.html' %}
{% load static %}
{% load widget_tweaks %}



{% block title %}
    SignUp Page
{% endblock title %}
    


{% block main-content %}
<main id="page-content" class="d-flex nm-aic nm-vh-md-100">
    <!-- // Logo wrapper -->
    <div id="logo-container">
        <a class="d-none d-md-flex" href="#" aria-label="Elevate">
            <img src="{% static 'logins/images/elevate.png' %}" alt="Logo">
        </a>
        <a class="d-flex d-md-none" href="#" aria-label="Elevate">
            <img src="{% static 'logins/images/elevate.png' %}" alt="Logo">
        </a>
    </div>
    <!-- Logo wrapper // -->

    <!-- // Non-form side -->
    <div id="non-form-side" class="col-md-4 col-lg-4 col-xl-4 d-none d-md-flex nm-aic nm-vh-100">
        <div class="overlay"></div>
    </div>
    <!-- Non-form Side // -->
    
    <!-- // Form side -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2 nm-st nm-st-md">
                <form action="{% url 'authentication:signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="nm-mb-2 nm-mb-md-2">
                        <h2>Welcome</h2>
                        <p>Fill out the form to register</p>
                    </div>
                    {% if sign_up_errors %}
                        <div class="alert alert-danger">
                        {{sign_up_errors}}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="inputEmail">Username</label>
                        {% render_field form.username class+="form-control" tabindex="1" placeholder="Username "  %}

                    </div>
                    
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        {% render_field form.email class+="form-control" tabindex="1" placeholder="Email address"  %}
                    </div>
                    
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        {% render_field form.password1 class+="form-control" tabindex="2" placeholder="********"  %}
                    </div>

                    <div class="form-group">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        {% render_field form.password2 class+="form-control" tabindex="3" placeholder="********"  %}
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="termsAndConditions" required>
                        <label class="form-check-label nm-check" for="termsAndConditions">
                            I agree to the <a class="nm-lu nm-ct" href="#">Terms and Conditions</a>
                        </label>
                    </div>
                    
                    <div class="row nm-aic nm-mb-2">
                        <div class="col-sm-6 nm-mb-1 nm-mb-sm-0">
                            <span class="nm-fs-1 nm-tm">Already have an account?</span>
                            <a class="nm-fs-1 nm-fw-bd" href="{% url 'login' %}">Login</a>
                        </div>
                        
                        <div class="col-sm-6 nm-sm-tr">
                            <button type="submit" class="btn btn-primary nm-hvr nm-btn-1">Sign Up</button>
                        </div>
                    </div>	
                </form>
            </div>
        </div>
    </div>
    <!-- Form Side // -->
</main>
{% endblock main-content %}
    